body {
    background-color: #39ff14;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXG5H7ZBmfqNRmsfyLF43tcdY8nWSCpDPb-Q&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-top: 8%;
}

form {
    width: 60vw;
    max-width: 700px;
    min-width: 350px;
    margin: 0 auto;
    padding: 10px 10px 20px 10px;
    line-height: 30px;
}

input,
select {
    border-radius: 5px;
}

#h1 {
    text-align: center;
    margin-left: 32.5%;
    margin-right: 32.5%;
    border: 6px solid red;
    background-color: yellow;
    color: red;
}

#name,
#email,
#number {
    width: 50%;
    margin-left: 1.5%;
}

.personal,
.prefences,
.pun,
.submit {
    margin: 1.5%;
}

.submit {
    text-align: center;
}

#description {
    text-align: center;
}

#number-label {
    margin-left: 2%;
}


fieldset {
    display: block;
    margin: auto;
    border: 6px solid red;
    padding: 2%;
    background-color: yellow;
}